.load-view {
  width: 100%;
  &::after {
    content: "";
    background-image: url("../../../images/welcome_background.jpg");
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &__block {
    width: 65%;
    text-align: center;
    margin: 10px auto;
    line-height: 0.8;
  }

  &__list {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // flex-wrap: wrap;
  }

  &__subitem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }

  &__subname {
    color: $yellow;
  }

  &__element {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.6);
    min-width: 250px;
  }

  &__button {
    min-width: 140px;
    padding: 7px;
  }
}
