.header {
  background-color: $background-color;
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $yellow;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  &__spacer {
    flex: 1;
  }

  .logo__image {
    height: 80%;
    width: 80%;

    &__link {
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin: auto 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      color: $red;
    }
  }
}
