.driver {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: left;
    &__container {
        margin: 30px;
    }
    
    &__characteristic {
        color: $yellow; 
        font-weight: bold;
}
}